# Python 3.14.x is required
pyside6==6.10.1
shiboken6==6.10.1
shiboken6-generator==6.10.1

numpy
numba
matplotlib
bs4
requests
pyinstaller
pydantic
fastapi
anyio
psutil
networkx
uvicorn[standard]
googletrans

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]
